#main_wrapper{
	width: 100%;
}
#main_wrapper::after,#main_wrapper li::after{
	content: '';
	display: block;
	clear: both;
}
#draw_line{
	width: 10px;
	position: absolute;
	left: 30%;
	border-left: 1px solid #ddd;
}
#main_wrapper li{
	height: 100%;
}
.comment_time{
	width: 30%;
	float: left;
	text-align: center;
	height: 100%;
	font-size: 0.8em;
}
.comment_time span{
	padding: 6px 10px;
	background-color: #fff;
	border-left: 4px solid #30aaea;
}
.comments{
	width: 47%;
	float: left;
	padding: 0.8em;
	background: #fff;
	color: #2c3e50;
	margin: 1em 1.5em;
	line-height: 1.4em;
	position: relative;
}
.comments::before{
	content: '';
	width: 41px;
	height: 40px;
	background: url(../images/arrow.png);
	background-size: cover;
	position: absolute;
	left: -34px;
	text-align: center;
}
.user_name{
	font-size: 0.5em;
	float: right;
}