.his_card{
	color: #000;
}
#chart_wrap{
	width: 95%;
	display: block;
	margin: .5em auto 3em auto;
}
#canvasDiv{
	overflow: scroll;
}
#chart_wrap:before{
	content:'成绩曲线';
	top: 0;
	z-index: 2;
}
#teac_name{
	padding: 0 0.5em;
}
#teac_name li{
	width: 33%;
	text-align: center;
	margin: 0;
	padding-top: 1em;
	float: left;
	background: #fff;
	border:0;
	padding-bottom: 0;
}
#teac_name a{
	color: #333;
	padding: 4px 10px;
	background: #eee;
}
li p{
	margin: 0.4em;
}
.user_name{
	font-weight: bold;
	line-height: .6em;
}
.comments{
	padding: 0.8em;
	background: #eee;
	color: #2c3e50;
	margin: 1em 1.5em 0.4em 1.5em;
	line-height: 1.4em;
	position: relative;
}
.comments::before{
	content: '';
	display: block;
	border: 1em solid rgba(0,0,0,0);
	border-top: 1em solid #eee; 
	position: absolute;
	top: 0;
	left: -1em;
}
.his_card{
	overflow: visible;
	width: 95%;
	padding: 1.6em 0 0 0;
	position: relative;
	margin:3.8em auto;
	background-color: #fff;
	font-size: 80%;
}
.his_card::before{
	display: block;
	width: 100%;
	height:2.6em;
	color: #fff;
	text-align: center;
	line-height: 2.6em;
	background: #30aaea;
	position: absolute;
	top: -1.6em;
	border-radius: 6px 6px 0 0;
}
.his_card::after{
	content: '';
	display: block;
	width: 100%;
	height: 12px;
	background: #fff;
	position: absolute;
	bottom: -12px;
	border-radius: 0 0 6px 6px;
}
#cm0::before{
	content: '我的足迹';
}
#cm1::before{
	content: '历史评价记录';
}
#cm2::before{
	content: '教师对我的评价';
}
#cm0{
	margin-top: 2em;
}
.his_card ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.his_card li{
	margin: 0.7em 0.5em;
	border-color: #999;
	border-bottom: 1px solid #eee;
	padding-bottom: 0.7em;
}
.his_card li:last-child{
	border-bottom: 0;
	margin-bottom: 0;
}
.his_card li span{
	color: #000;
}