*{
	margin: 0;
	padding: 0;
}
.right{	
	background-image: url(../images/right.gif);	
	background-repeat: no-repeat;
	background-position: right;
	background-size: 20px;
}
.wrong{
	background-image: url(../images/wrong.gif);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 20px;
}
a:visited{
	color: #000;
}
html{
	height: 100%;
}
body{
	font:normal 1em Helvetica,Arial,sans-serif!important;
	width: 100%;
	height: 100%;
	text-align: center;
}
header{
	width: 100%;
	background: #2c3e50;
	margin-bottom: 4.2em;
}
form{
	font-size: .8em;
}
#input_wrapper{
	background: #eee;
	padding:0.5em 1em;
	display: inline-block;	
	position: relative;
}
#username,#password,#password2{
	width: 18em;
	height: 2.4em;
	outline: none;
	background: #eee;
	border: 0;
}
#password,#password2{
	border-top:1px solid #a0a0a0;
}
#login{
	font-family: YaHei;
	width: 20em;
	border: none;
	height:3.4em;
	background: #00b7ee;
	color: #fff;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1.2em;
}
#register2{
	color: #000;
	font-size: 0.7em;
}
#username-error,#password-error,#password2-error{
	position: absolute;
	right: 1em;
	color: red;
	font-size: 0.9em;
	padding-left: 16px;
	background:url(../images/wrong_s.gif) left no-repeat;
	background-size: 16px;
}
#username-error{
	top: 1em;
}
#password-error{
	top: 3.5em;
}
#password2-error{
	top: 5.7em;
}