.ui-panel-inner{
	padding: 0;
	width: 100%;
}
#menubtn{
	display: block;
	width: 31px;
	height: 26px;
	background-image: url(../images/menu1.gif);
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	position: absolute;
	right: 2em;
	top: 50%;
	margin-top: -10px;
}
#right-panel{
	background: #eee;
	box-shadow: 0px 0px 1px #405265;
	height: 100%;
}
#panel_head{
	font-size: 68%;
	height: 11.6em;
	background: #405265;
}
#panel_head a{
	display: block;
	text-align: center;
	position: relative;
	top: 50%;
	margin: 0 auto;
	margin-top: -3em;
}
#panel_head img{
	width: 4em;
	height: 4em;
}
#panel_nav{
	font-size: 80%;
	height: 3em;
	background: #68739b;
	text-align: center;
}
#panel_nav a{
	color: #fff;
	text-decoration: none;
	line-height: 3em;
}