*{
	margin:0;
	padding: 0;
	list-style: none;
	font-family: YaHei;
	font-size: 1em;
}
header#myhead{
	background: #30aaea;
	border: 0;
}
header#myhead .ui-btn{
	background: rgba(0,0,0,0);
	border: 0;
}
#sub_sel{
	width: 90%;
	padding: 1.6em 0;
	position: relative;
	margin:2.6em auto;
	background: #fff;
	text-align: center;
	font-size: .68em;
}
#sub_sel::before{
	content: '选择科目';
	display: block;
	width: 5em;
	height:2.4em;
	color: #fff;
	text-align: center;
	line-height: 2.4em;
	background: #00b7ee;
	position: absolute;
	top: -1.2em;
	left: -0.4em;
}
#sub_sel::after{
	content: '';
	display: block;
	clear: both;
}
.ui-checkbox{
	width: 46%;
	float: left;
}
.ui-mini{margin: 0;}
#table{
	width: 90%;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 1.2em;
	padding-bottom: 0.1em;
	position: relative;
	padding: 0.7em 0;
	font-size: .68em;
}
table{
	border-collapse: collapse;
	width: 90%;
	margin:1.2em auto;
}
table tr{
	line-height: 1.9em;
}
table th,table td{
	vertical-align: middle;
	border: 1px solid #00675C;
	text-align: center;
}
#table::before{
	content: '选择时间';
	display: block;
	width: 5em;
	height:2.4em;
	color: #fff;
	text-align: center;
	line-height: 2.4em;
	background: #00b7ee;
	position: absolute;
	top: -1.2em;
	left: -0.4em;
}
#last{
	width: 90%;
	background: #fff;
	margin: 2.6em auto;
	padding-bottom: 0.1em;
	position: relative;
	padding: 0.7em 0;
	font-size: .68em;
}
#last::before{
	content: '选择课时';
	display: block;
	width: 5em;
	height:2.4em;
	color: #fff;
	text-align: center;
	line-height: 2.4em;
	background: #00b7ee;
	position: absolute;
	top: -1.2em;
	left: -0.4em;
}
#last .ui-btn{
	background-color: #1897d9;
	font-size: 14px;
	width: 62%;
	margin: 10px auto;
	border: 0;
}
#clear_fix{
	height: 3em;
	width: 100%;
}
footer{
	font-size: 1em;
	width: 100%;
	height: 3em;
	background: #fff;
	line-height: 3em;
	position: fixed;
	bottom: 0;
}
footer span{
	color: #ec6941;
}
footer #button{
	width: 8em;
	float: right;
	height: 3em;
	line-height: 3em;
	background: #ec6941;
	text-align: center;
	border:0;
	color: #fff;
	text-decoration: none;
}
.tdactive:before{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/laugh_b.png) no-repeat center;
	background-size: 100%;
	position: relative;
	left: 50%;
	margin-left: -10px;
}
.tddisable{
	background: #eee;
}
#page .ui-content{
	padding: 0;
}
/*pay.html*/
#table section{
	width: 90%;
	margin: 0 auto;
}
#table p{
	padding: 1em 0;
	width: 50%;
	float: left;
}
#table p span{
	display: inline-block;
	width: 50%;
	height: 1em;
	margin-left: 1.2em;
}
p#finished span{
	background: #a7e3b7;
}
p#unfinished span{
	background: #eee;
}
td.finished{
	background: #a7e3b7;
}
td.unfinished{
	background: #eee;
}
#mask{
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.content1{
	width: 100%;
	height: 100%;
	z-index: 1000;	
}
.content1 .alert_msg{
	max-width: 70%;
	padding: 1.2em 1em;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
	top: 37%;
	display: none;
}
#comment{	
	background: #d4d2d2;
	padding: 0 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: none;
}
#comment:after{
	content: '';
	display: block;
	clear: both;
}
#comment .ui-input-text{
	float: left;
	width: 78%;
}
#comment .ui-btn{
	margin-left: 5px;
	float: left;
	background-color: #30aaea;
	border: none;
	width: 20%;
	padding: 7px 10px;
}
.aui-list-view{
	width: 90%;
	margin: 0 auto;
}
.aui-list-view h1,.aui-list-view h2,.aui-list-view h3{
	font-size: 14px;
}