*{
	margin:0;
	padding: 0;
	list-style: none;
	font-family: YaHei;
	font-size: 1em;
}
header{
	background: #2c3e50;
}
#sub_sel{
	width: 90%;
	padding: 1.6em 0;
	position: relative;
	margin:2.6em auto;
	background: #fff;
	text-align: center;
	font-size: .68em;
}
#sub_sel::before{
	content: '选择科目';
	display: block;
	width: 5em;
	height:2.4em;
	color: #fff;
	text-align: center;
	line-height: 2.4em;
	background: #00b7ee;
	position: absolute;
	top: -1.2em;
	left: -0.4em;
}
#sub_sel::after{
	content: '';
	display: block;
	clear: both;
}
.ui-checkbox{
	width: 46%;
	float: left;
}
.ui-mini{margin: 0;}
#table{
	width: 90%;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 1.2em;
	padding-bottom: 0.1em;
	position: relative;
	padding: 0.7em 0;
	font-size: .68em;
}
table{
	border-collapse: collapse;
	width: 90%;
	margin:1.2em auto;
}
table tr{
	line-height: 1.6em;
}
table th,table td{
	vertical-align: middle;
	border: 1px solid #00675C;
	text-align: center;
}
#table::before{
	content: '选择时间';
	display: block;
	width: 5em;
	height:2.4em;
	color: #fff;
	text-align: center;
	line-height: 2.4em;
	background: #00b7ee;
	position: absolute;
	top: -1.2em;
	left: -0.4em;
}
footer{
	font-size: 1em;
	width: 100%;
	height: 3em;
	background: #fff;
	line-height: 3em;
	position: fixed;
	bottom: 0;
	padding-left: 1em;
}
footer span{
	color: #ec6941;
}
footer #button{
	width: 8em;
	float: right;
	height: 3em;
	line-height: 3em;
	background: #ec6941;
	text-align: center;
	border:0;
	color: #fff;
	text-decoration: none;
}