.stu_card{
	overflow: visible;
	width: 90%;
	padding: 1.6em 0 1em 0;
	position: relative;
	margin:3em auto;
	background-color: #fff;
	font-size: 80%;
}
.stu_card::before{
	content: '个人信息';
	display: block;
	width: 100%;
	height:2.6em;
	color: #fff;
	text-align: center;
	line-height: 2.6em;
	background: #2C8DB3;
	position: absolute;
	top: -1.6em;
}
.stu_card ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.stu_card li{
	margin: 0.7em 1.4em;
	border-color: #999;
	border-bottom: 1px solid #eee;
	padding-bottom: 0.7em;
}
.stu_card li span{
	color: #000;
}