*{
	font-family: YaHei;
}
header{
	position: fixed;
	height: 4em;
	line-height: 4em;
	background-color: #6b8484!important;
	text-align: center;
}
header a{
	top: 50%!important;
	margin-top: -17.75px!important;
}
header h1{
	display: inline!important;
	margin:0;
	font-weight: normal;
	
	font-size: 1.2em;
	color: #fff;
}
#gender_wra,#job_wra{
	width: 50%;
	float: left;
	clear: none;
}
div{
	text-align: center;
}
/*input[type=text],input[type=date]{
	width: 68%;
}*/